# Detekt Configuration for ATV Android TV App
# Reference: https://detekt.dev/docs/rules/

build:
  maxIssues: 0
  excludeCorrectable: false

config:
  validation: true
  warningsAsErrors: false

console-reports:
  active: true

output-reports:
  active: true

complexity:
  active: true
  CyclomaticComplexMethod:
    active: true
    threshold: 10  # Per constitution: max 10 per function
  LongMethod:
    active: true
    threshold: 60
  LongParameterList:
    active: true
    functionThreshold: 6
    constructorThreshold: 7
  NestedBlockDepth:
    active: true
    threshold: 4
  TooManyFunctions:
    active: true
    thresholdInFiles: 15
    thresholdInClasses: 15
    thresholdInInterfaces: 10
    thresholdInObjects: 15
    thresholdInEnums: 5

coroutines:
  active: true
  GlobalCoroutineUsage:
    active: true
  RedundantSuspendModifier:
    active: true
  SuspendFunWithFlowReturnType:
    active: true

empty-blocks:
  active: true
  EmptyCatchBlock:
    active: true
    allowedExceptionNameRegex: "_|(ignore|expected).*"
  EmptyFunctionBlock:
    active: true
    ignoreOverridden: true
  EmptyIfBlock:
    active: true

exceptions:
  active: true
  ExceptionRaisedInUnexpectedLocation:
    active: true
  InstanceOfCheckForException:
    active: true
  SwallowedException:
    active: true
    ignoredExceptionTypes:
      - "InterruptedException"
      - "MalformedURLException"
      - "NumberFormatException"
      - "ParseException"
  ThrowingExceptionsWithoutMessageOrCause:
    active: true
  TooGenericExceptionCaught:
    active: true
    exceptionNames:
      - "ArrayIndexOutOfBoundsException"
      - "Error"
      - "Exception"
      - "IllegalMonitorStateException"
      - "NullPointerException"
      - "IndexOutOfBoundsException"
      - "RuntimeException"
      - "Throwable"

naming:
  active: true
  ClassNaming:
    active: true
    classPattern: "[A-Z][a-zA-Z0-9]*"
  FunctionNaming:
    active: true
    functionPattern: "[a-z][a-zA-Z0-9]*"
    ignoreAnnotated:
      - "Composable"
  PackageNaming:
    active: true
    packagePattern: "[a-z]+(\\.[a-z][A-Za-z0-9]*)*"
  VariableNaming:
    active: true
    variablePattern: "[a-z][A-Za-z0-9]*"
    privateVariablePattern: "_?[a-z][A-Za-z0-9]*"

performance:
  active: true
  ArrayPrimitive:
    active: true
  ForEachOnRange:
    active: true
  SpreadOperator:
    active: true
  UnnecessaryTemporaryInstantiation:
    active: true

potential-bugs:
  active: true
  CastToNullableType:
    active: true
  DontDowncastCollectionTypes:
    active: true
  DoubleMutabilityForCollection:
    active: true
  EqualsWithHashCodeExist:
    active: true
  ExitOutsideMain:
    active: true
  HasPlatformType:
    active: true
  ImplicitDefaultLocale:
    active: true
  LateinitUsage:
    active: false  # Common pattern in Android
  MapGetWithNotNullAssertionOperator:
    active: true
  NullableToStringCall:
    active: true
  UnconditionalJumpStatementInLoop:
    active: true
  UnnecessaryNotNullOperator:
    active: true
  UnnecessarySafeCall:
    active: true
  UselessPostfixExpression:
    active: true

style:
  active: true
  DestructuringDeclarationWithTooManyEntries:
    active: true
    maxDestructuringEntries: 3
  ForbiddenComment:
    active: true
    values:
      - "FIXME:"
      - "STOPSHIP:"
    allowedPatterns: "TODO:"
  MagicNumber:
    active: true
    ignoreNumbers:
      - "-1"
      - "0"
      - "1"
      - "2"
    ignoreHashCodeFunction: true
    ignorePropertyDeclaration: true
    ignoreAnnotation: true
    ignoreEnums: true
    ignoreRanges: true
  MaxLineLength:
    active: true
    maxLineLength: 120
  NewLineAtEndOfFile:
    active: true
  OptionalAbstractKeyword:
    active: true
  RedundantExplicitType:
    active: true
  RedundantVisibilityModifierRule:
    active: true
  ReturnCount:
    active: true
    max: 3
    excludedFunctions:
      - "equals"
    excludeLabeled: true
  ThrowsCount:
    active: true
    max: 2
  UnusedImports:
    active: true
  UnusedPrivateMember:
    active: true
    allowedNames: "(_|ignored|expected|serialVersionUID)"
  UseCheckOrError:
    active: true
  UseRequire:
    active: true
  WildcardImport:
    active: true
    excludeImports:
      - "kotlinx.android.synthetic.*"
